* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  overflow-y: scroll;
  background: url(../img/bg.jpg) no-repeat; 
  background-position: center center;
  background-size: cover;
}
.container{
    width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
    background: rgba(240,240,240, 0.2);
    overflow: hidden;
}
.container::before{
    content: '';
    position: absolute;
    background: rgba(255,255,255, 0.5);
    width: 200px;
    height: 900px;
    transform: skew(60deg);
    bottom: -40%;
    left: 40%;
}
h1{
    text-transform: uppercase;
    font-size: 2.2rem;
}
img{
    height: 450px;
}
p{
    width: 700px;
    text-align: justify;
}
button{
    width: 200px;
    height: 80px;
    background: rgba(132, 101, 255, 1);
    border: 0;
    outline: none;
    border-radius: 20px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.2s;
    flex-direction: column;
}
button:hover{
    background: rgba(90, 50, 255, 1);
}
